# Скопіюйте цей файл у gradle.properties (він у .gitignore)
# і заповніть своїми даними для локальної публікації.

# Sonatype OSSRH
ossrhUsername=ваш_sonatype_username
ossrhPassword=ваш_sonatype_password

# GPG підпис (альтернатива до env-змінних для локального запуску)
# signing.keyId=LAST_8_CHARS_OF_KEY_ID
# signing.password=ваша_парольна_фраза
# signing.secretKeyRingFile=/home/user/.gnupg/secring.gpg
